


html, body { 
    height : 1080px;
    width: 1920px;
    background-image: url(src\assets\tasty-american-beer-composition.jpg);
    background-size: 100%
 }

 div {
    width: 1000px;
    height: 100px;
    margin: auto;
 
 }

 
