<nav class="navbar navbar-dark bg-warning">
  <a class="navbar-brand "  routerLink ="/recherche">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active">
        <a class="nav-link" routerLink ="/recherche">Recherche <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink ="/preference">Mes préférences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/groupe">Mes groupes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/home">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
