<section class="hero-section">
    <form style=" padding: 3%; width: fit-content; border-radius: 2%;" #adminForm="ngForm"
          (ngSubmit)="submit(adminForm)">
          <div class="title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;"> Mise à jour bar ({{barId}}) </div>
    
          <div class="md-form">
    
            <label for="name">Nom</label>
            <br>
            <input 
            type="text" 
            id="nom"
            [(ngModel)]="bar.nom"
            name="nom" 
            #tempName="ngModel"
            required
            placeholder="Entrez un nom"
            class="form-control">
          </div>
    
          <div class="md-form">
    
            <label for="localisation">Localisation</label>
            <br>
            <input 
            type="text" 
            id="localisation"
            [(ngModel)]="bar.localisation"
            name="localisation" 
            #tempLocalisation="ngModel"
            required
            placeholder="Entrez une localisation"
            class="form-control">
          </div>
    
          <div class="md-form">
            <label for="adresse">Adresse</label>
            <br>
            <input 
            type="text" 
            id="adresse"
            [(ngModel)]="bar.adresse"
            name="adresse"
            placeholder="Entrez une adresse"
            #tempAdresse="ngModel"
            class="form-control" 
            required
             >
    
          </div>
          <div class="md-form">
            <label for="debHapp">Date de début de l'happy hour</label>
            <br>
            <input
            type="text" 
            id="debHapp"
            name="debHapp" 
            #tempdebHapp="ngModel"
            placeholder="Entrez une heure"
            class="form-control" 
            [(ngModel)]="bar.debHapp">
    
          </div>
        
          <div class="md-form">
    
            <label for="">Heure de fin de l'happy hour</label>
            <br>
            <input 
            name="finHapp" 
            id="finHapp" 
            type="text" 
            #tempfinHapp="ngModel"
            class="form-control" 
            [(ngModel)]="bar.finHapp"
            placeholder="Entrez une heure">
          </div>
    
          <div class="md-form">
            <label for="siteWeb">Site web</label>
            <br>
            <input 
            name="siteWeb" 
            id="siteWeb" 
            type="text" 
            #tempsiteWeb="ngModel"
            class="form-control" 
            [(ngModel)]="bar.siteWeb"
            placeholder="Entrez un site web">
          </div>
    
          <div class="text-center">
    
            <button class="btn btn-warning btm-sm btn-bloc" type=submit>Confirmation</button>
            <a class="btn btn-light btm-sm btn-bloc" href="/gestionbar">Retour</a>
          </div>
    
        </form>
    
    <p *ngIf="success"> {{messagesuccess}} </p>
    <p *ngIf="error"> {{messageerror}}</p>
    </section>