<nav class="navbar navbar-dark bg-warning">

    <a class="navbar-brand" href="#">

        <img src="/assets/images/placeholder.png" width="30" height="30" class="d-inline-block align-top" alt="">

        Cheeeers

    </a>

    <form class="form-inline">

        <button class="btn btn-outline-alert" type="button" (click)="goToConnexion()" style="color: black">Connexion</button>

    </form>

</nav>



<section class="hero-section">

    <h1 class="hero-heading">Découvrez les bars de Paris</h1>

    <h2 class="hero-subheading">En spécifiant vos préférences</h2>



</section>



<section id="Photos">

    <div class="container">

        <div class="heading text-center text-uppercase">

            <h3 class="top-heading  mb-2">Nous sommes la pour vous aider</h3>

            <h4 class="sub-heading text-muted mb-2">Trouvez vos bières préférées</h4>

            <h5 class="sub-heading mb-2">sans vider votre porte-monnaie</h5>
            <br>

        </div>

        <div class="row">

            <div class="col-lg-4">

                <img src="assets/images/beerInGlass.jpg" alt="">
                <br>
                <br>
                <p style="text-align: center;">Notre objectif? Vous proposer de retrouver les bières phares proposées à la vente dans chacun des
                    bars de Paris.

                </p>
                



            </div>

            <div class="col-lg-4">



                <img src="assets/images/tchin.jpg" alt="">
                <br>
                <br>
                <P style="text-align: center;">Trouvez la meilleur place pour boire un coup avec vos amis, n'importe où dans Paris!</P>





            </div>

            <div class="col-lg-4">



                <img src="/assets/images/HH.jpg" alt="">
                <br>
                <br>
                <p style="text-align: center;">Partez à la chasse aux petits prix grâce aux happy-hours</p>



            </div>

        </div>

    </div>

</section>
<footer class="text-center text-lg-start bg-light text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">

            <span>Suivez nous sur nos reseaux sociaux !</span>

        </div>

        <div>

            <a href="" class="me-4 text-reset">

                <i class="fab fa-facebook-f"></i>

            </a>

            <a href="" class="me-4 text-reset">

                <i class="fab fa-twitter"></i>

            </a>

            <a href="" class="me-4 text-reset">

                <i class="fab fa-instagram"></i>

            </a>

        </div>

    </section>

    <section class="">

        <div class="container text-center text-md-start mt-5">

            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">

                        NomDeLapp

                    </h6>

                    <p>NomDeLapp, le site gratuit qui fait participer sa communauté dans son développement afin de
                        toujours délivrer des informations fiables!</p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">

                        Nos liens utiles

                    </h6>

                    <p>

                        <a href="#!" class="text-reset">Lien</a>

                    </p>

                    <p>

                        <a href="#!" class="text-reset">Lien</a>

                    </p>

                    <p>

                        <a href="#!" class="text-reset">Lien</a>

                    </p>

                    <p>

                        <a href="#!" class="text-reset">Lien</a>

                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">

                        Contact

                    </h6>

                    <p><i class="fas fa-home me-3"></i> Paris, France</p>

                    <p>

                        <i class="fas fa-envelope me-3"></i>

                        NomDeLapp@gmail.com

                    </p>
                    <p><i class="fas fa-phone me-3"></i> numéro</p>

                </div>

            </div>

        </div>

    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

        © 2022 Copyright:

        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Dev3</a>

    </div>

</footer>